body {
    background: #D9BBA9 ;
    font-family: Arial, Helvetica, sans-serif;

}

.assignments {
    display: flex;
    flex-wrap:wrap;

}

.assignment {
    width: 21%;
    padding: 10px;
    margin: 10px;
    margin-bottom: 30px;
    background: #BF7960;
    border-radius:5px;
    box-shadow: 5px 8px #141126 ;
}

.assignment img {
   
    width: 200px;
    border: 2px solid #141126;
    margin-right: 20px;
    border-radius:5px;
    display:block;
    margin:auto;
    
}

h1 {
    color: #141126;
    text-align: center;
}

a {
    text-decoration:none;
    color:#F2E6DF;
}

.assignment a:hover {
 color:  #141126;

}
